/* 缂傚倸鍊风粈渚€藝閹剁瓔鏁嬬憸搴ㄥ箞閵娾晛鐓涢柛鎰典簻瀹曘儱顪冮妶鍡欏婵ǜ鍔戝畷鍝勎旈崨顔惧幗闂佸啿鐏堥弲婊冣枔閻хet.css (闂傚倷绀侀幖顐﹀磹缁嬫５娲Χ婢跺浠遍悷婊勬楠炲啳顦圭€规洖銈搁幃銏ゅ川婵犲偆浼�) */
/* reset */
html, body, div, p, ul, li, dl, dt, dd, em, i, span, a, img, input, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0
}

a, img, input {
    border: none;
}

body {
    font: 14px/1.75 -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none
}

*:focus {
    outline: none;
}


@font-face {
    font-family: "hansan";
    src: url("SourceHanSansSC-Regular.woff");
}

@font-face {
    font-family: "fzzjyt";
    src: url("fzzjyt.woff");
}
.clear:after{
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}
.hd {
    display: block;
    text-indent: -9999px;
}

.hide {
    display: none;
}

.spr {
    background: url(../sprite.png) no-repeat 0 0/7.5rem 7.5rem;
}

/*婵犵數濮伴崹濂稿春閺嶎厼绠伴柟鎯版绾惧潡鏌ㄩ悤鍌涘*/
.head {
    width: 100%;
    height: 1.2rem;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    padding-top: 0.2rem;
    /*    position: absolute;
        top: 0;*/
}

.head img {
    width: 1.54rem;
    height: 0.91rem;
}

.head p {
    color: #fff;
    font-size: 0.2rem;
}

.head p span {
    font-size: 0.28rem;
}

.jrgw {
    background: url(../enter.png) no-repeat center/cover;
    width: 1.63rem;
    height: 0.57rem;
    margin-top: 0.1rem;
}

.jrlt {
    background: url(../ljxz.png) no-repeat center/cover;
    width: 1.63rem;
    height: 0.57rem;
    margin-top: 0.1rem;
}

.main {
    background: url(../bg.jpg) no-repeat 0 0/7.5rem 70.58rem;
    width: 7.5rem;
    box-sizing: border-box;
    padding-top: .45rem;
}

/*KV*/
.kv {
    background: url(../kv.jpg) no-repeat center/cover;
    width: 7.5rem;
    height: 10.68rem;
    position: relative;
    padding-top: 8.9rem;
    box-sizing: border-box;
}
.kv .venue{
    width: 3.2rem;
    height: 2.8rem;
    position: absolute;
    top: .9rem;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.kv #ams_loginbar {
    position: relative;
    top: -8.85rem;
    font-size: .2rem;
    color: #798089;
    text-align: center;
}

.kv #ams_loginbar a {
    font-weight: bold;
    color: #3763a0;
}

.kv .kv-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 7.1rem;
    margin: 0 auto;
}

.kv .kv-message {
    /*background: url(../august.png) no-repeat center/cover;*/
    background: url(../august.png) no-repeat center/cover;
    width: 3.73rem;
    height: .42rem;
    margin: 0 auto;
}

.kv .understa {
    background-position: 0 -3.3rem;
    width: 2.03rem;
    height: .49rem;
}

.kv .appointment {
    pointer-events: none;
    /*background-position: 0 -2.1rem;*/
    width: 2.95rem;
    height: 1.01rem;
    background: url(../getkit.png) no-repeat center/cover;
}

.kv .appointment.on {
    width: 2.95rem;
    height: 1.01rem;
    /*background: url(../getkit.png) no-repeat center/cover;*/
    background: url(../getkit.png) no-repeat center/cover;
}

.kv .check {
    background-position: -2.1rem -3.3rem;
    width: 2.03rem;
    height: .49rem;
}

/*section1 start*/
.sec1 {
    position: relative;
}

.sec1::before {
    content: '';
    background: url("../cloud.png") no-repeat center/cover;
    width: 1.09rem;
    height: 1.11rem;
    position: absolute;
    top: 1.27rem;
    right: 0;
}

.sec1::after {
    content: '';
    background: url(../circle.png) no-repeat center/cover;
    width: 1.86rem;
    height: 1.32rem;
    position: absolute;
    bottom: -.67rem;
    left: -.45rem;
}

.sec1 h2 {
    background: url(../lingqu.png) no-repeat center/cover;
    width: 5.65rem;
    height: .89rem;
    margin: 0 auto;
}

.sec1 .cont {
    background: url(../cont-bg.png) no-repeat center/cover;
    width: 6.66rem;
    height: 7.96rem;
    margin: 0 auto;
    padding-top: .5rem;
    box-sizing: border-box;
}

.sec1 .cont .rewards, .sec3 .cont .rewards, .invitation .cont .rewards {
    display: flex;
    justify-content: center;
    width: 6rem;
    margin: 0 auto .43rem;
    text-align: center;
    color: #3763a0;
    font-size: .22rem;
    font-family: "hansan";
}

.sec1 .cont .reward, .sec3 .cont .reward {
    position: relative;
    flex: 1;
}

.sec1 .reward img, .sec3 .reward img, .invitation .reward img {
    width: 1.53rem;
    height: 1.53rem;
    margin: 0 auto;
    display: block;
}

.sec1 .vip {
    background-position: -4.85rem 0;
    width: 1.26rem;
    height: .34rem;
    position: absolute;
    top: 0;
    left: 13%;
}

.sec1 .btn {
    display: flex;
    justify-content: space-between;
    width: 5.5rem;
    margin: 0 auto .05rem;
}
.sec1 .btn .orderreward {
    background-position:0 -6.1rem;
    width: 2.69rem;
    height: .82rem;
    pointer-events: none;
}
.sec1 .btn .orderreward.now {
    background: url(../lqgzjl.png) no-repeat center/cover;
    pointer-events:auto;
}

.sec1 .btn .orderreward.on {
    background-position: -2.95rem -4.2rem;
}

.sec1 .btn .binding {
    background-position: 0 -1rem;
    width: 2.69rem;
    height: .82rem;
}

.sec1 .btn .binding.on {
    background-position: -3rem -5.2rem;
}

.sec1 .explain {
    text-align: center;
    font-size: .22rem;
    color: #798089;
    margin-bottom: .6rem;
}

.sec1 .explain b {
    color: #596069;
}

.sec1 .rules, .sec3 .rules {
    width: 5.7rem;
    font-size: .24rem;
    line-height: .36rem;
    color: #603f28;
    margin: 0 auto;
    font-family: hansan;
}

.sec1 .rules h3 {
    font-size: .3rem;
    margin-bottom: .1rem;
    font-weight: bold;
}

/*section2 start*/
.sec2 {
    margin: .9rem auto;
}

.sec2 h2 {
    background: url(../six.png) no-repeat center/cover;
    width: 3.69rem;
    height: .88rem;
    margin: 0 auto .1rem;
}

.sec2 .cont {
    position: relative;
}

.sec2 .swiper-container {
    width: 6.56rem;
    height: 6.98rem;
}

.sec2 .swiper-slide {
    background: url(../swpbg.png) no-repeat center/cover;
    width: 6.56rem;
    height: 6.98rem;
    overflow: hidden;
}

.sec2 .swiper-button-next {
    background-position: -6.6rem -2.4rem;
    width: .76rem;
    height: 1.3rem;
}

.sec2 .swiper-button-prev {
    background-position: -6.6rem -1.1rem;
    width: .76rem;
    height: 1.3rem;
}

.sec2 .swiper-slide img {
    display: block;
    width: 6.3rem;
    margin: .1rem auto .38rem;
    border-top-right-radius: .3rem;
    border-top-left-radius: .3rem;
}

.sec2 .introduce {
    width: 5.4rem;
    margin: 0 auto;
    font-size: .24rem;
    color: #494b5b;
}

.sec2 .introduce h4 {
    font-size: .34rem;
    color: #292d4c;
    text-align: center;
}

.sec2 .introduce p {
    line-height: .36rem;
}
.sec2 .introduce b{
    color: #fc830a;
}
.sec3 {
    position: relative;
}

.sec3 .pig {
    background: url(../pig.png) no-repeat center/cover;
    width: 3.29rem;
    height: 2.07rem;
    position: absolute;
    right: 0;
    bottom: 1.85rem;
}

.sec3 .pig .cloud {
    background: url(../to.png) no-repeat center/cover;
    display: block;
    width: .95rem;
    height: .68rem;
    position: relative;
    top: .8rem;
    left: .4rem;
    display: none;
}

.sec3 .pig .cloud.on {
    display: block;
    animation: move 200ms;
}

@keyframes move {
    from {
        left: 1.2rem;
    }
    to {
        left: .4rem;
    }
}

.sec3 h2 {
    background: url(../buy.png) no-repeat center/cover;
    width: 6.2rem;
    height: .88rem;
    margin: 0 auto .1rem;
    position: relative;
}

.sec3 h2 .hd {
    background: url(../fbt.png) no-repeat 0 0/5rem .36rem;
    width: 5rem;
    height: .36rem;
    position: absolute;
    left: 0;
    right: 0;
    top: .7rem;
    margin: 0 auto;
}

.sec3 .cont {
    background: url(../sec3-bg.png) no-repeat center/cover;
    width: 6.66rem;
    height: 8.62rem;
    padding-top: .5rem;
    box-sizing: border-box;
    margin: 0 auto;
}

.sec3 .rules b {
    color: #fc830a;
}

.sec3 .rewards {
    margin-bottom: .3rem !important;
}

.sec3 .rules {
    margin-top: .95rem;
    font-size: .22rem;
    font-family: hansan;
}

.sec3 .rules h3 {
    font-weight: bold;
}

.sec4 {
    margin-top: 1.05rem;
}

.sec4 h2 {
    background: url(../title3.png) no-repeat center/cover;
    width: 2.78rem;
    height: .88rem;
    margin: 0 auto .2rem;
}

.sec4 img {
    display: block;
    width: 7.5rem;
    margin: 0;
}
.sec4 .img-raius{
    border-top-left-radius: .35rem;
    border-top-right-radius: .35rem;
}
    /*闂傚倸鍊风欢锟犲储閹间礁纾婚柟鍓х帛閸嬶綁鏌涢妷鎴濆暞浜涢梻浣规偠閸娧囧箯閿燂拷*/
.invitation {
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    /* display: none; */
}

.invitation .bg {
    background-color: rgba(0, 0, 0, 0.5);
    width: 7.5rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.invitation .cont {
    background: url(../invitation.png) no-repeat center/cover;
    width: 7.5rem;
    height: 10.51rem;
    position: absolute;
    top: 1.2rem;
    z-index: 9999;
    padding-top: 2.3rem;
    box-sizing: border-box;
}

.congratulations {
    width: 5.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto .4rem;
    font-family: fzzjyt;
}

.invitation .cont .bglogo {
    background: url(../bglogo.png) no-repeat center/cover;
    width: 4.89rem;
    height: 3.01rem;
    position: absolute;
    top: -.7rem;
    left: .57rem;
}

.congratulations img {
    width: 1.04rem;
    height: 1.25rem;
}

.notice {
    width: 4.1rem;
    font-size: .24rem;
    color: #546063;
}

.notice h5 {
    font-size: .3rem;
    color: #3f4a4d;
    line-height: .38rem;
}

.notice p {
    text-indent: .5rem;
}

.notice span {
    color: #c98315;
    max-width: 1.8rem;
    white-space: nowrap;
    overflow: hidden;
    display: inline-flex;
}

.notice b {
    color: #364043;
}

.invitation .gift > p {
    width: 5.43rem;
    font-size: .2rem;
    color: #546063;
    margin: 0 auto;
}

.invitation .gift .rewards {
    transform: scale(.8);
    margin: 0 auto 0;
}

.invitation .gift span {
    color: #c98315;
}

.invitation .btn {
    display: flex;
    justify-content: space-between;
    width: 5.1rem;
    margin: 1.5rem auto 0;
}

.invitation .btn .invite {
    background-position: 0 0;
    width: 2.36rem;
    height: .96rem;
}

.invitation .btn .generate {
    background-position: -2.4rem 0;
    width: 2.36rem;
    height: .95rem;
}

.invitation .share {
    width: 7.5rem;
    height: 13.34rem;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 19;
}
.share .name{
    max-width: 2rem;
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
    text-align: right;
}
.invitation .share .badge {
    width: 2.74rem;
    height: 2.95rem;
    position: absolute;
    bottom: 2.3rem;
    right: 0;
}
.invitation .share-bg {
    width: 7.5rem;
    height: 13.34rem;
    position: absolute;
    top: 0;
    left: 0;
}
.invitation .share .message {
    width: 4.2rem;
    align-items: center;
    position: relative;
    bottom: -9.14rem;
    left: .5rem;
    font-size: .24rem;
    color: #3f4a4d;
    line-height: .39rem;
    text-indent: .27rem;
}

.invitation .message label {
    color: #ff9000;
}

.invitation .person {
    /*width: 1.27rem;*/
    height: 1.7rem;
}

.invitation .message p {
    font-size: .24rem;
    color: #fff;
    width: 1.45rem;
    white-space: nowrap;
    overflow: hidden;
}

/*闂佽瀛╅鏍窗濮樿泛绠犻柟鎹愵嚙閸氳銇勯幘璺盒℃繛宀婁邯閺屻劑鎮ら崒娑橆伓 start*/
.dia-close {
    background-position: -6.6rem 0;
    width: .8rem;
    height: .79rem;
    position: absolute;
    top: -.7rem;
    right: 0;
}

.reservation .dia-close, .binding .dia-close {
    top: -.9rem;
}

.load .dia-con {
    background: url(../load.png) no-repeat center/cover;
    width: 6.66rem;
    height: 5.04rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 0 1.5rem;
}

.load .qq {
    background-position: 0 -4rem;
    width: 1.25rem;
    height: 1.69rem;
}

.load .wx {
    background-position: -1.44rem -4rem;
    width: 1.25rem;
    height: 1.69rem;
}

.phone .dia-con {
    background: url(../phone.png) no-repeat center/cover;
    width: 6.66rem;
    height: 5.63rem;
    box-sizing: border-box;
    padding-top: 1.4rem;
}

.phone .dia-con p {
    font-size: .22rem;
    color: #447465;
    text-align: center;
}

.phone .dia-con div {
    width: 5.15rem;
    margin: .4rem auto 0;
    display: flex;
    justify-content: left;
    align-items: center;
}

.phone label, .role label {
    font-size: .22rem;
    color: #447465;
}

.phone input {
    width: 2.6rem;
    height: .5rem;
    background-color: #b9b69a;
    border: none;
    box-sizing: border-box;
    padding: 0 .1rem;
    margin: 0 .1rem;
    color: #fff;
    font-size: .22rem;
}

.phone .dia-con .getnumber {
    background-position: -4.4rem -3.3rem;
    width: 1.49rem;
    height: .5rem;
}

.phone .binding, .role .dia-con .binding {
    background-position: -3.05rem -2.1rem;
    width: 2.69rem;
    height: .82rem;
    margin: .4rem auto 0;
}

.role .dia-con {
    background: url(../role.png) no-repeat center/cover;
    width: 6.66rem;
    height: 6.02rem;
    box-sizing: border-box;
    padding-top: 1.5rem;
}

.role .dia-con div {
    width: 4.7rem;
    margin: 0 auto .3rem;
}
.role .dia-con label{
    float: left;
    line-height: .5rem;
}
.role .dia-con select {
    width: 4rem;
    height: .5rem;
    background-color: #b9b69a;
    border: none;
    box-sizing: border-box;
    padding: 0 .1rem;
    color: #fff;
    font-size: .22rem;
    -webkit-appearance:none;
    float: right;
}

.role .dia-con .binding {
    margin-top: .45rem;
}

.success .dia-con {
    background: url(../get.png) no-repeat center/cover;
    width: 6.66rem;
    height: 4.31rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .3rem;
    color: #447465;
    text-align: center;
}

.tickets .dia-con {
    background: url(../tiktis.png) no-repeat center/cover;
    width: 6.66rem;
    height: 4.31rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: .8rem;
    box-sizing: border-box;
}

.tickets .dia-con .tik1 {
    background: url(../tik1.png) no-repeat center/cover;
    width: 3.7rem;
    height: .82rem;
}

.tickets .dia-con .tik2 {
    pointer-events: none;
    background: url(../tik2.png) no-repeat center/cover;
    width: 3.7rem;
    height: .82rem;
    margin-bottom: .55rem;
}

.reservation .dia-con {
    background: url(../reservation.png) no-repeat center/cover;
    width: 4.61rem;
    height: 2.64rem;
    margin: 0 auto;
}

.binding .dia-con {
    background: url(../binding.png) no-repeat center/cover;
    width: 4.61rem;
    height: 2.64rem;
    margin: 0 auto;
}
.share-cont{
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    margin: -70% auto 0;
    width: 100%;
    transform: scale(.85);
    /* height: 100vh; */
}
#picture {
    display: block;
    width: 6rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: none;
}

.changan {
    text-align: center;
    position: absolute;
    top: 11rem;
    font-size: .36rem;
    color: #fff;
    width: 7.5rem;
    display: none;
}

.invite-btn {
    background-position: 0 0;
    width: 2.36rem;
    height: .95rem;
    position: absolute;
    top: 11.7rem;
    left: 2.55rem;
    display: none;
}

.fenxiang {
    position: fixed;
    top: 0;
    left: 0;
    width: 7.5rem;
    height: 100vh;
    z-index: 1000000;
}

.fenxiang .bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}

.fenxiang .jiantou {
    background: url(../jiantou.png) no-repeat center/cover;
    width: 3.33rem;
    height: 2.72rem;
    position: absolute;
    top: 0;
    right: .4rem;
}

/*闂佽瀛╅鏍窗濮樿泛绠犻柟鎹愵嚙閸氳銇勯幘璺盒℃繛宀婁邯閺屻劑鎮ら崒娑橆伓 end*/

/*footer*/
#afooter {
    background: #000;
    color: #ccc;
    text-align: center;
    padding: .15rem 0;
    position: absolute;
    font-size: .2rem;
}

#afooter a {
    color: #ccc;
}

/* #t6Hl8#ABDFA66E183E201317FE3B1A7B227C69 *//* #t6Hl8#3FE6309BA14F866F67BBF8B33208F0B5 */
/* #t6Hl8#28D74B8CF7451BE98432144D225FE11C */

.son img{
    display: block;
    width: 7.5rem;
}
/* #t6Hl8#A0DF65D2194122DEAB0F21572C7FFBAC */
